TIMEZONE=America/Chicago
SCHEDULE_GENERATE_DOW=FRIDAY
SCHEDULE_GENERATE_TIME=09:00
SCHEDULE_LOCK_DOW=TUESDAY
SCHEDULE_LOCK_TIME=09:45
SCHEDULE_SEND_DOW=TUESDAY
SCHEDULE_SEND_TIME=10:00
MS_CLIENT_ID=xxxxxxxxxxxxxxx
MS_TENANT_ID=xxxxxxxxxxxxxxx
MS_CLIENT_SECRET=xxxxxxxxxxxxx
MS_CLIENT_SECRET_ID=xxxxxxxxxxxxx
MS_SENDER_UPN=xxxxxx@xxxxx.xxx
REPLY_TO=xxxxxx@xxxx.xxx