SENDER_MAILBOX=courtney@mail.com
REPLY_TO=courtney@mail.com
TIMEZONE=America/Chicago
SCHEDULE_GENERATE_DOW=FRIDAY
SCHEDULE_GENERATE_TIME=09:00
SCHEDULE_LOCK_DOW=TUESDAY
SCHEDULE_LOCK_TIME=09:45
SCHEDULE_SEND_DOW=TUESDAY
SCHEDULE_SEND_TIME=10:00